.box {
    height: 100px;
    width: 300px;
    background-color: #ffc0cb;
}
h1 {
    background-color: yellow;
}
@media (width: 200px) {
    h1 {
        background-color: chocolate;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    h1 {
        background-color: greenyellow;
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: rebeccapurple;
        color: pink;
    }
}