<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Random 3*5</h1>
    <%= ["hi", "hey", "hello"][0] %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae hic libero culpa beatae ratione vitae provident ea quisquam rem et, ad debitis voluptate, aliquam quasi, aut sapiente molestias. Blanditiis omnis, libero perspiciatis quae corporis quas officiis natus, mollitia, harum doloremque expedita tenetur sequi iste illum error aliquid eius optio itaque.</p>

    <button>Click me!</button>
</body>
</html>