<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll dice</title>
</head>
<body>
    <h1>Dice value: <%= diceVal%></h1>
    <%if(diceVal == 6) {%>
    <h3>Nice! roll again</h3>
    <%} %>
</body>
</html>