<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Write a new chat</h3>
    <form method="post" action="/chats">
        <input placeholder="who are you?" name="from"></input>
        <br/><br/>
        <textarea name="msg">Write your msg here...</textarea>
        <br/><br/>
        <input placeholder="Add receiver" name="to"></input>
        <br/><br/>
        <button>Create chat</button>
    </form>
</body>
</html>